:host {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-panel {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  
  @media screen and (orientation: portrait), (max-width: 960px) {
    margin-left: 2em;
    width: 100%;
  }

  .ing-filter {
    min-width: 250px;
    margin-bottom: -1em;
  }
}

.ingredient-groups {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  .category {
    min-width: 300px;
    max-width: 400px;
    @media screen and (orientation: portrait), (max-width: 960px) {
      max-width: 100%;
    }

    margin: 1em;

    .category-header {
      display: flex;
      align-items: center;
      margin-bottom: 0.2em;

      mat-icon {
        margin-left: 0.4em;
      }
    }

    .new-product {
      display: flex;
      align-items: center;

      mat-form-field {
        margin-right: 0.3em;
      }

      .quantity {
        width: 40px;
      }

      .unit {
        width: 50px;
      }
    }

    .ingredient {
      .quantity,
      .unit {
        color: gray;
        margin-left: 0.5em;
      }
    }
  }
}
