<ng-container *ngIf='{ categories: categories$ | async,
    ingredients: ingredientContainer$ | async } as data'>
    <div class='filter-panel'>
        <mat-form-field class='ing-filter'>
            <mat-label>Wyszukaj</mat-label>
            <input matInput type="text" [formControl]='productSearch' autocomplete="off">
        </mat-form-field>
        <button mat-icon-button color="warn" (click)='clearFilter()'>
            <mat-icon>clear</mat-icon>
        </button>
        <button *ngIf="!listening" (click)='startVoiceSearch()' mat-icon-button color="primary">
            <mat-icon>mic</mat-icon>
        </button>
        <button *ngIf="listening" (click)='stopVoiceSearch()' mat-icon-button color="warn">
            <mat-icon>mic</mat-icon>
        </button>
    </div>
    <div *ngIf="listening || voiceSearchResults.length > 0" class="voice-search">
        <div *ngIf='listening' class='listening-indicator'>
            <mat-progress-bar color='warn' mode="indeterminate"></mat-progress-bar>
        </div>
        <div class='search-results'>
            <mat-chip-list multiple="true" #tagList aria-label="Tag selection">
                <mat-chip *ngFor='let si of voiceSearchResults' class='ingredient'>
                    <span class='name'>{{ si.name }}</span>
                    <button matChipRemove (click)='removeSearchResult(si)'>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
            </mat-chip-list>
        </div>
        <div *ngIf="!listening" class='results-actions'>
            <button mat-flat-button color='accent' (click)='clearSearchResults()' aria-label="clear ingredients icon">
                Wyczyść
                <mat-icon>clear</mat-icon>
            </button>
            <button mat-flat-button color='primary' (click)='saveSearchResults()' aria-label="add ingredients icon">
                Dodaj
                <mat-icon>add_icon</mat-icon>
            </button>
        </div>
    </div>
    <div class='ingredient-groups' *ngIf='categories$ | async as categories'>
        <ng-container *ngFor='let c of data.categories'>
            <div *ngIf='filteredIngredients[c.id] && filteredIngredients[c.id].length > 0' class='category'>
                <h2 class='category-header'>
                    {{c.name}}<mat-icon color='accent'>{{c.icon}}</mat-icon>
                </h2>
                <div *ngIf="mode === 'edit'" class='new-product'>
                    <mat-form-field class='product-name'>
                        <mat-label>Produkt</mat-label>
                        <input matInput type="text" [(ngModel)]="productInputs[c.id]"
                            (keyup.enter)='addNewIngredient(c, data.ingredients)'>
                    </mat-form-field>
                    <mat-form-field class='quantity'>
                        <mat-label>Ilość</mat-label>
                        <input matInput type="number" [(ngModel)]="quantityInputs[c.id]">
                    </mat-form-field>
                    <mat-form-field class='unit'>
                        <!-- <mat-label>Jednostka</mat-label> -->
                        <mat-select [(ngModel)]="unitInputs[c.id]">
                            <mat-option *ngFor="let u of units" [value]="u">
                                {{u}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button color="primary" (click)='addNewIngredient(c, data.ingredients)'
                        [disabled]='productInputs[c.id].length <= 3'>
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <mat-chip-list multiple="true" #tagList aria-label="Tag selection">
                    <mat-chip *ngFor='let i of filteredIngredients[c.id]' [selected]='i.addedToList' class='ingredient'
                        color='accent'>
                        <span class='name'>{{ i.name }}</span>
                        <span *ngIf='i.quantity' class='quantity'>{{ i.quantity }}</span>
                        <span *ngIf='i.unit' class='unit'>{{ i.unit }}</span>

                        <button *ngIf="mode === 'edit'" matChipRemove (click)='deleteIngredient(i, data.ingredients)'>
                            <mat-icon>cancel</mat-icon>
                        </button>
                        <button *ngIf="mode === 'view'" matChipRemove (click)='addToShoppingList(i)'>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </ng-container>
    </div>
</ng-container>