:host {
  padding: 0.5em;
}

.filter-panel {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 1em;
  
  .ing-filter {
    min-width: 260px;
    margin-bottom: -1em;
  }
}

.voice-search {
  display: flex;
  padding: 0.5em;
  margin: 1em;
  flex-direction: column;
  border: 2px dashed #009688;

  .listening-indicator {
    display: flex;
    margin: 0.5em;
  }

  .search-results {
    padding: 0.75em;
    display: flex;
  }

  .results-actions {
    display: flex;
    align-self: flex-end;
    margin-top: 0.5em;

    button:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}

.ingredient-groups {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;

  .category {
    min-width: 300px;
    max-width: 400px;
    @media screen and (orientation: portrait), (max-width: 960px) {
      max-width: 100%;
    }

    margin: 1em;

    .category-header {
      display: flex;
      align-items: center;
      margin-bottom: 0.2em;

      mat-icon {
        margin-left: 0.4em;
      }
    }

    .new-product {
      display: flex;
      align-items: center;

      mat-form-field {
        margin-right: 0.3em;
      }

      .quantity {
        width: 40px;
      }

      .unit {
        width: 50px;
      }
    }

    .ingredient {
      .quantity,
      .unit {
        color: gray;
        margin-left: 0.5em;
      }
    }
  }
}
