@if ({ recipe: recipe$ | async,
  tagContainer: tagContainer$ | async }; as data) {
  @if (data.recipe; as recipe) {
    <div class='recipe-header'>
      <a mat-icon-button button color='primary' aria-label="back icon" routerLink='/recipes'>
        <mat-icon>arrow_back</mat-icon>
      </a>
      <h1>{{recipe.saved ? recipe.title : 'Nowy przepis'}}</h1>
      <span class='spacer'></span>
      <div class='recipe-actions'>
        @if (editing) {
          <button mat-icon-button (click)='saveRecipe(true, data.tagContainer)'>
            <mat-icon color='primary'>save</mat-icon>
          </button>
          @if (recipe.saved) {
            <button mat-icon-button (click)='discardRecipe()'>
              <mat-icon color='warn'>clear</mat-icon>
            </button>
          }
        }
        @if (!editing) {
          <button mat-icon-button (click)='editRecipe()'>
            <mat-icon color='primary'>edit</mat-icon>
          </button>
          <button mat-icon-button (click)='deleteRecipe(recipe.id)'>
            <mat-icon color='warn'>delete</mat-icon>
          </button>
        }
      </div>
    </div>
    @if (editing) {
      <form [formGroup]='recipeForm'>
        <mat-form-field appearance="fill">
          <mat-label>Tytuł</mat-label>
          <input formControlName='title' matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Opis</mat-label>
          <textarea formControlName='description' matInput></textarea>
        </mat-form-field>
        <div class="horizontal-row">
          <mat-form-field>
            <input min="0" matInput formControlName='calories' type="number">
            <span matSuffix> kcal</span>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Czas</mat-label>
            <input min="0" matInput formControlName='prepTime' type="number">
            <span matSuffix> min</span>
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Link</mat-label>
          <input formControlName='url' matInput>
        </mat-form-field>
        <h2>Tagi</h2>
        <mat-form-field class='tags-container' appearance="fill">
          <mat-chip-grid #tagList aria-label="Tag selection">
            @for (tag of tags; track tag) {
              <mat-chip-row removable="true" (removed)="removeTag(tag)" selected>
                {{tag}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
            <input placeholder="Nowy tag..." #tagsInput formControlName="tags" [matAutocomplete]="auto"
              [matChipInputFor]="tagList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)">
            </mat-chip-grid>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              @for (tag of filteredTags | async; track tag) {
                <mat-option [value]="tag">
                  {{tag}}
                </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          <h2>Zdjęcia</h2>
          <div class='recipe-images'>
            <input type="file" class="file-input" multiple #fileUpload accept=".png,.jpg"
              (change)='filesChangedEvent($event.target, recipe.saved)'>
              <div class='recipe-images'>
                @for (image of images; track image) {
                  <div class="tile image-tile">
                    @if (image && image.uploaded) {
                      <img [src]='image.downloadUrl'>
                      <button mat-icon-button color="warn" class='close-button'
                        (click)='deleteImage(image, recipe.saved);$event.stopPropagation()'>
                        <mat-icon>cancel</mat-icon>
                      </button>
                    }
                    @if (!image.uploaded) {
                      @if (image.uploadProgress$ | async; as progress) {
                        <mat-progress-bar class="progress"
                          color="primary" mode="determinate" [value]="progress">
                        </mat-progress-bar>
                      }
                    }
                  </div>
                }
                <div appDragDrop (files)='filesDroppedEvent($event, recipe.saved)' #imageDropRef id='imageDropRef'
                  multiple draggable="true" class="tile upload-tile" color="primary" (click)="fileUpload.click()">
                  <mat-icon color='primary'>add</mat-icon>
                </div>
              </div>
            </div>
          </form>
        }
        @if (!editing) {
          <div class='recipe-view'>
            <hr class='line-break'>
            <div class='horizontal-row'>
              @if (recipe.calories) {
                <span>
                  <mat-icon color="primary">bolt</mat-icon> {{recipe.calories}} kcal
                </span>
              }
              @if (recipe.prepTime) {
                <span>
                  <mat-icon color="primary">schedule</mat-icon> {{recipe.prepTime}} min
                </span>
              }
              <div class='rating-segment'>
                <div class='stars'>
                  @for (r of ratings; track r) {
                    <button mat-icon-button class='star' (click)='changeRating(r)'
                      [color]="hasStar(r) ? 'accent' : 'primary'">
                      <mat-icon>star</mat-icon>
                    </button>
                  }
                </div>
                <button (click)='copyUrl()' mat-button color="primary" aria-label="Button to copy link">
                  <mat-icon>share</mat-icon> Kopiuj link
                </button>
              </div>
            </div>
            <hr class='line-break'>
            @if (recipe.description) {
              <p>{{recipe.description}}</p>
            }
            @if (recipe.url) {
              <p>
                <a target="_blank" [href]='recipe.url'>{{recipe.url}}</a>
              </p>
            }
            <h2>Tagi</h2>
            <mat-chip-listbox #chipList aria-label="Tags selection">
              @for (tag of tags; track tag) {
                <mat-chip-option selected>
                  {{tag}}
                </mat-chip-option>
              }
            </mat-chip-listbox>
            @if (images && images.length > 0) {
              <h2>Zdjęcia</h2>
            }
            <div class='recipe-images'>
              @for (image of images; track image; let i = $index) {
                <div class="tile image-tile">
                  @if (image) {
                    <img [src]='image.downloadUrl' (click)='showImages(recipe.imageUrls, i)'>
                  }
                </div>
              }
            </div>
          </div>
        }
      }
    }