.full-width-tabs {
  ::ng-deep .mat-tab-header {
    background-color: rgba(#fff, 0.6);
    position: sticky;
    position: -webkit-sticky;
    backdrop-filter: blur(3px);
    top: 0;
    z-index: 1000;
  }

  /* when a tab is marked disabled we still want the icon button inside to be
     clickable, so restore pointer-events on the button itself */
  ::ng-deep .mat-mdc-tab.mat-mdc-tab-disabled {
    opacity: 1;

    button {
      pointer-events: auto;
    }
  }

  ::ng-deep .mat-tab-labels :last-child.mat-tab-label {
    min-width: 0;
    padding: 0 12px;
    color: unset;
    opacity: unset;
    pointer-events: auto;
  }
}
