<div class='container'>
    <mat-toolbar color="primary" class='example-toolbar'>
        <button matIconButton (click)="sidenav.toggle()" class="mobile-menu-button">
            <mat-icon>menu</mat-icon>
        </button>
        <span>PiaskHome</span>

        <span class="example-spacer"></span>
        <div class="desktop-nav">
            <a mat-button routerLink='/login' class="example-icon favorite-icon" aria-label="user login icon"
                routerLinkActive='active-link'>
                <mat-icon>face</mat-icon>
                Profil
            </a>
            <a mat-button routerLink='/house-tasks' class="example-icon favorite-icon" aria-label="house icon"
                routerLinkActive='active-link'>
                <mat-icon>home</mat-icon>
                Domowe
            </a>
            <a mat-button routerLink='/shopping' class="example-icon favorite-icon" aria-label="dinner icon"
                routerLinkActive='active-link'>
                <mat-icon><span class="material-icons">
                        local_grocery_store
                    </span></mat-icon>
                Zakupy
            </a>
            <a mat-button routerLink='/recipes' class="example-icon favorite-icon" aria-label="dinner icon"
                routerLinkActive='active-link'>
                <mat-icon>lunch_dining</mat-icon>
                Przepisy
            </a>
            <a mat-button routerLink='/visits' class="example-icon favorite-icon" aria-label="medical services icon"
                routerLinkActive='active-link'>
                <mat-icon>medical_services</mat-icon>
                Wizyty
            </a>
            <a mat-button routerLink='/todo' class="example-icon favorite-icon" aria-label="tasks icon"
                routerLinkActive='active-link'>
                <mat-icon>checklist</mat-icon>
                Zadania
            </a>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class='full-height'>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a mat-list-item routerLink='/login' (click)="sidenav.toggle()" routerLinkActive='active-link'>
                    <mat-icon matListItemIcon>face</mat-icon>
                    Profil
                </a>
                <a mat-list-item routerLink='/house-tasks' (click)="sidenav.toggle()" routerLinkActive='active-link'>
                    <mat-icon matListItemIcon>home</mat-icon>
                    Domowe
                </a>
                <a mat-list-item routerLink='/shopping' (click)="sidenav.toggle()" routerLinkActive='active-link'>
                    <mat-icon matListItemIcon>local_grocery_store</mat-icon>
                    Zakupy
                </a>
                <a mat-list-item routerLink='/recipes' (click)="sidenav.toggle()" routerLinkActive='active-link'>
                    <mat-icon matListItemIcon>lunch_dining</mat-icon>
                    Przepisy
                </a>
                <a mat-list-item routerLink='/visits' (click)="sidenav.toggle()" routerLinkActive='active-link'>
                    <mat-icon matListItemIcon>payments</mat-icon>
                    Wizyty
                </a>
                <a mat-list-item routerLink='/todo' (click)="sidenav.toggle()" routerLinkActive='active-link'>
                    <mat-icon matListItemIcon>checklist</mat-icon>
                    Zadania
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>