<mat-tab-group class='full-width-tabs' mat-align-tabs="center">
  <mat-tab label="Bieżące">
    @if ({
      activeDate: activeDate$ | async,
      activeTasks: activeTasks$ | async,
      user: user$ | async
      }; as data) {
      @if (data.activeTasks) {
        <div class='task-viewer'>
          @if ({ notMe: data.activeTasks.who !== data.user?.shortName}; as check) {
            <mat-card appearance="outlined" class="active-task">
              <mat-card-header>
                <mat-card-title>Prace domowe
                  @if (data.activeTasks.saved) {
                    <span>
                      <mat-icon color='primary'>save</mat-icon>
                    </span>
                  } @else {
                    <mat-icon color='warn'>help_outline</mat-icon>
                  }
                  @if (data.activeTasks.approved === true) {
                    <span>
                      <mat-icon color='primary'>check_circle</mat-icon>
                    </span>
                  }
                  @if (data.activeTasks.approved === false) {
                    <span>
                      <mat-icon color='warn'>cancel</mat-icon>
                    </span>
                  }
                </mat-card-title>
                <mat-card-subtitle>
                  @if (data.activeTasks.who === data.user?.shortName) {
                    <span>Ty - </span>
                  } @else {
                    <span>{{data.activeTasks.who}} - </span>
                  }
                  @if (data.activeTasks.dateString === today) {
                    <span>Dzisiaj</span>
                  }
                  @if (data.activeTasks.dateString === yesterday) {
                    <span>Wczoraj</span>
                  }
                  <ng-container></ng-container>
                  @if (data.activeTasks.dateString !== today && data.activeTasks.dateString !== yesterday) {
                    <span
                      >{{data.activeTasks.date
                    | date: 'EEEE' }}, {{data.activeTasks.dateString}}</span>
                  }
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class='tasks-container'>
                  <div class='task-category'>
                    <h3>Kuchenne</h3>
                    <ul>
                      <li>
                        <mat-checkbox [disabled]='check.notMe' [(ngModel)]='data.activeTasks.dinner'>
                          <span>Obiad</span>
                          <mat-icon color='accent'>ramen_dining</mat-icon>
                        </mat-checkbox>
                      </li>
                      <li>
                        <mat-checkbox [disabled]='check.notMe' [(ngModel)]='data.activeTasks.snacks'>
                          <span>Przekąska</span>
                          <mat-icon color='accent'>bakery_dining</mat-icon>
                        </mat-checkbox>
                      </li>
                      <li>
                        <mat-checkbox [disabled]='check.notMe' [(ngModel)]='data.activeTasks.groceries'>
                          <span>Zakupy</span>
                          <mat-icon color='accent'>shopping_cart</mat-icon>
                        </mat-checkbox>
                      </li>
                      <li>
                        <mat-checkbox [disabled]='check.notMe'
                          [(ngModel)]='data.activeTasks.dishesAndKitchen'>
                          <span>Naczynia</span>
                          <mat-icon color='accent'>soap</mat-icon>
                        </mat-checkbox>
                      </li>
                      <li>
                        <mat-checkbox [disabled]='check.notMe'
                          [(ngModel)]='data.activeTasks.dishwasher'>
                          <span>Zmywarka</span>
                          <mat-icon color='accent'><span class="material-icons-round">
                            local_laundry_service
                          </span></mat-icon>
                        </mat-checkbox>
                      </li>
                    </ul>
                  </div>
                  <div class='task-category'>
                    <h3>Sprzątanie</h3>
                    <ul>
                      <li>
                        <mat-checkbox [disabled]='check.notMe' [(ngModel)]='data.activeTasks.vacuuming'>
                          <span>Odkurzanie</span>
                          <mat-icon color='accent'>cleaning_services</mat-icon>
                        </mat-checkbox>
                      </li>
                      <li>
                        <mat-checkbox [disabled]='check.notMe' [(ngModel)]='data.activeTasks.dusting'>
                          <span>Ścieranie kurzy</span>
                          <mat-icon color='accent'>pan_tool</mat-icon>
                        </mat-checkbox>
                      </li>
                      <li>
                        <mat-checkbox [disabled]='check.notMe'
                          [(ngModel)]='data.activeTasks.smallBathroom'>
                          <span>Mała łazienka</span>
                          <mat-icon color='accent'>clean_hands</mat-icon>
                        </mat-checkbox>
                      </li>
                      <li>
                        <mat-checkbox [disabled]='check.notMe'
                          [(ngModel)]='data.activeTasks.bigBathroom'>
                          <span>Duża łazienka</span>
                          <mat-icon color='accent'>bathtub</mat-icon>
                        </mat-checkbox>
                      </li>
                      <li>
                        <mat-checkbox [disabled]='check.notMe' [(ngModel)]='data.activeTasks.laundry'>
                          <span>Pranie</span>
                          <mat-icon color='accent'>dry_cleaning</mat-icon>
                        </mat-checkbox>
                      </li>
                    </ul>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions align='end'>
                <button mat-icon-button (click)='getPrevious(data.user?.shortName)'>
                  <mat-icon color='primary'>arrow_back</mat-icon>
                </button>
                @if (check.notMe) {
                  @if (!data.activeTasks.approved) {
                    <button color='warn'
                      (click)='approve(data.activeTasks, false)' mat-stroked-button>
                      <mat-icon>clear</mat-icon>
                      Odrzuć
                    </button>
                  }
                  <button color='primary' (click)='approve(data.activeTasks, true)' mat-stroked-button>
                    <mat-icon>done</mat-icon>
                    Potwierdź
                  </button>
                } @else {
                  @if (!data.activeTasks.saved) {
                    <button color='primary' (click)='save(data.activeTasks)'
                    mat-stroked-button>Zapisz</button>
                  }
                  @if (data.activeTasks.saved) {
                    <button color='primary' (click)='update(data.activeTasks)'
                    mat-stroked-button>Aktualizuj</button>
                  }
                }
                <button mat-icon-button (click)='getNext(data.user?.shortName)'
                  [ngClass]="{ 'd-none': data.activeDate === today}" [disabled]='data.activeDate === today'>
                  <mat-icon color='primary'>arrow_forward</mat-icon>
                </button>
              </mat-card-actions>
              <mat-card-footer>
                <mat-progress-bar></mat-progress-bar>
              </mat-card-footer>
            </mat-card>
          }
        </div>
      }
      @if (tasksList$ | async; as tasksList) {
        <div class='tasks-table'>
          <table mat-table [dataSource]="tasksList" multiTemplateDataRows>
            <ng-container matColumnDef="who">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let task"> {{task.who}} </td>
            </ng-container>
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let task">{{task.date | date: 'EEEE' }}, {{task.dateString}} </td>
            </ng-container>
            <ng-container matColumnDef="dinner">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let task">
                <mat-icon [ngClass]="{'opaque': task.dinner !== true}" color='accent'>ramen_dining
                </mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="snacks">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let task">
                <mat-icon [ngClass]="{'opaque': task.snacks !== true}" color='accent'>tapas</mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="dishesAndKitchen">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let task">
                <mat-icon [ngClass]="{'opaque': task.dishesAndKitchen !== true}" color='accent'>soap
                </mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="dishwasher">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let task">
                <mat-icon [ngClass]="{'opaque': task.dishwasher !== true}" color='accent'>
                  local_laundry_service
                </mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="groceries">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let task">
                <mat-icon [ngClass]="{'opaque': task.groceries !== true}" color='accent'>shopping_cart
                </mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="vacuuming">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let task">
                <mat-icon [ngClass]="{'opaque': task.vacuuming !== true}" color='accent'>cleaning_services
                </mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="dusting">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let task">
                <mat-icon [ngClass]="{'opaque': task.dusting !== true}" color='accent'>pan_tool</mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="smallBathroom">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let task">
                <mat-icon [ngClass]="{'opaque': task.smallBathroom !== true}" color='accent'>clean_hands
                </mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="bigBathroom">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let task">
                <mat-icon [ngClass]="{'opaque': task.bigBathroom !== true}" color='accent'>bathtub
                </mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="approved">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let task">
                @if (task.approved === true) {
                  <mat-icon color='primary'>done</mat-icon>
                }
                @if (task.approved === false) {
                  <mat-icon color='warn'>clear</mat-icon>
                }
              </td>
            </ng-container>
            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let task" [attr.colspan]="3">
                <mat-icon [ngClass]="{'opaque': task.dinner !== true}" color='accent'>ramen_dining
                </mat-icon>
                <mat-icon [ngClass]="{'opaque': task.snacks !== true}" color='accent'>tapas</mat-icon>
                <mat-icon [ngClass]="{'opaque': task.dishesAndKitchen !== true}" color='accent'>soap
                </mat-icon>
                <mat-icon [ngClass]="{'opaque': task.dishwasher !== true}" color='accent'>
                  local_laundry_service
                </mat-icon>
                <mat-icon [ngClass]="{'opaque': task.groceries !== true}" color='accent'>shopping_cart
                </mat-icon>
                <mat-icon [ngClass]="{'opaque': task.vacuuming !== true}" color='accent'>cleaning_services
                </mat-icon>
                <mat-icon [ngClass]="{'opaque': task.dusting !== true}" color='accent'>pan_tool</mat-icon>
                <mat-icon [ngClass]="{'opaque': task.smallBathroom !== true}" color='accent'>clean_hands
                </mat-icon>
                <mat-icon [ngClass]="{'opaque': task.bigBathroom !== true}" color='accent'>bathtub
                </mat-icon>
                <mat-icon [ngClass]="{'opaque': task.laundry !== true}" color='accent'>dry_cleaning
                </mat-icon>
              </td>
            </ng-container>
            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
            <tr [ngClass]="{'mine': task.who === data.user?.shortName}" mat-row
            *matRowDef="let task; columns: displayedColumns;" (click)='selectTask(task)'></tr>
            <tr mat-row *matRowDef="let task; columns: ['details']" (click)='selectTask(task)'></tr>
          </table>
          @if ({ paging: paging$ | async }; as data) {
            <div class='table-actions'>
              @if (data.paging !== pagingPrev || (data.paging === pagingPrev && tasksList.length === pageSize)) {
                <button mat-stroked-button
                  (click)='getPreviousPage()'>
                  <mat-icon color='primary'>arrow_back</mat-icon>
                  Wcześniej
                </button>
              }
              <button mat-stroked-button (click)='resetPaging()'>
                <mat-icon color='primary'>clear</mat-icon>
                Wyczyść
              </button>
              @if (data.paging !== pagingNone) {
                <button mat-stroked-button (click)='getNextPage()'>
                  Później
                  <mat-icon color='primary'>arrow_forward</mat-icon>
                </button>
              }
            </div>
          }
        </div>
      }
    }
  </mat-tab>
  <mat-tab label="Podsumowanie">
    <app-house-tasks-charts></app-house-tasks-charts>
  </mat-tab>
</mat-tab-group>