@if (auth.user$ | async; as user) {
  @if (auth.user$ | async; as user) {
    <mat-card appearance="outlined">
      <mat-card-header>
        @if (user.photoURL) {
          <div mat-card-avatar class="profile-image"
          style='background-image: url({{user.photoURL}}); background-size: cover'></div>
        }
        <mat-card-title>{{user.displayName}}</mat-card-title>
        <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class='short-name'>
          <!-- <mat-label>Krótka nazwa</mat-label> -->
          <input placeholder="krótka nazwa" matInput type="text" [(ngModel)]='user.shortName'>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align='end'>
        <button mat-stroked-button color='primary' [disabled]='!canUpdate(user)' (click)='updateName(user)'
        mat-button>ZAPISZ</button>
        <button mat-stroked-button (click)='logout()' mat-button>WYLOGUJ</button>
      </mat-card-actions>
    </mat-card>
  }
} @else {
  <button mat-raised-button (click)="auth.googleSignin()">
    <mat-icon style="margin-right: 1em" svgIcon="logo"></mat-icon>Zaloguj z Google
  </button>
}

<!-- User NOT logged in -->

<!-- User logged in -->
